// --------- IMPORTS -------------
@import './shared/mixins';
@import './index';
@import './header';
@import './projects';
@import './shared/colors';
@import './about';
@import './resume';

// --------- SHARED -------------
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute !important;
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 700;
  color: red;
}

.btn-email {
  background-color: #2c3e50 !important;
  color: white !important;
  margin-bottom: 3rem !important;
}
// --------- BASE PAGE -------------

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ededee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
